header{
	background:#ffffff;
	border: 3px solid #cccccc;
	border-top:none;
	border-right:none;
	border-left:none;
	overflow:auto;
}

.header-wrapper{
	width:960px;
	margin: 0 auto;
	overflow:auto;
}

.your-name{
	background:#4aaaa5;
	float:left;
	padding:30px;
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:white;
	font-size:30px;
	font-weight:bold;
}

.about,
.portfolio{
	float:right;
	border: 1px solid #dddddd;
	border-top:none;
	border-left:none;
	border-bottom:none;
	margin-top:33px;
	padding: 0 25px 0 25px;
}

.contact{
	float:right;
	padding-left: 15px;
	margin-top:33px;
}

p{
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:18px;
}

p.header-links:hover{
	background:#4aaaa5;
}

p#submit{
	background:#4aaaa5;
	color:white;
	padding:6px;
	text-align:center;
	width:105px;
}

p#submit:hover{
	background:white;
	color:#4aaaa5;
	padding:4px;
	border:2px solid #4aaaa5;
}

p#footer-text{
	font-size:12px;
	color:#cccccc;
}

.link-icons{
	text-decoration:none;
}

.main-section{
	background-image:url(../images/soft_wallpaper.png);
	padding: 35px 0;
	overflow:auto;
}

.main-wrapper{
	width:960px;
	margin: 0 auto;
	overflow:auto;
}

.large-container{
	background:#ffffff;
	border: 2px solid #dddddd;
	width:586px;
	padding: 30px;
	float:left;
}

.large-title{
	border: 3px solid #cccccc;
	border-top:none;
	border-right:none;
	border-left:none;
	padding: 15px 0 30px 0;
	margin-bottom: 30px;
}

h2,
h3{
	color:#4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight:bold;
}

h2{
	font-size:30px;
}

h3{
	font-size:21px;
	padding:25px 10px 15px 0;
}

h4{
	background:#4aaaa5;
	color:white;
	font-size:23px;
	padding:15px;
	position:absolute;
	text-align:center;
	width:245px;
	bottom:10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.large-content{
	line-height:200%;
}

img{
	zoom:25%;
	float:left;
	padding-right: 60px;
}

img.full-size-image{
	zoom:100%;
	width:275px;
}

.left-images{
	position:relative;
	float:left;
	width:275px;
	margin-bottom: 50px;
}

.right-images{
	position:relative;
	float:right;
	width:275px;
	margin-bottom: 50px;
}

.contact-box{
	padding-bottom:10px;
}

input{
	padding:8px;
	font-size:16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:566px;
}

textarea{
	width:566px;
	border-color:#dddddd;
	height:190px;
	padding:8px;
	font-size:16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.sidebar{
	width:266px;
	border: 2px solid #dddddd;
	float:right;
	background:#ffffff;
}

.connect-with-me{
	border: 2px solid #dddddd;
	border-top:none;
	border-left:none;
	border-right:none;
	width:76%;
	margin:0 auto;
}

.icons{
	overflow:auto;
	margin: 0 auto 20px auto;
	width:78%;
	padding: 20px;
}

#github-icon{
	padding:0 0 0 2px;
}

#linkedin-icon{
	padding: 0 14px 0 10px;
}

#stackoverflow-icon{
	padding: 15px 0 15px 10px;
	margin:0
	border:0;
}

#github-icon:hover,
#linkedin-icon:hover,
#stackoverflow-icon:hover {
	-ms-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

footer{
	background:#666666;
	width:auto;
	text-align:center;
	padding:40px;
	border: 10px solid #4aaaa5;
	border-bottom:none;
	border-left:none;
	border-right:none;
}


@media screen and (max-width:980px){
	.header-wrapper{
		width:728px;
	}

	.main-wrapper{
		width:728px;
	}

	.large-container{
		width:360px;
	}

	#profile-pic{
		zoom:75%;
		padding-bottom:20px;
	}

	h4{
		width:330px;
	}

	img.full-size-image{
		width:360px;
		padding-right:0;
	}

	.right-images{
		float:left;
	}

	input{
		width:340px;
	}

	textarea{
		width:342px;
	}
}


@media screen and (max-width:768px){
	.header-wrapper{
		width:94%;
	}


	.main-section{
		padding-top:20px;
	}

	.main-wrapper{
		width:94%;
	}

	.large-container{
		width:auto;
		float:none;
		overflow:auto;
	}

	.sidebar{
		float:left;
		width:99%;
		margin-top:40px;
		padding:0;
	}

	.connect-with-me{
		width:auto;
		margin-left:5%;
		margin-right:5%;
	}

	h3{
		width:auto;
	}

	#github-icon{
		padding:0 0 0 5%;
	}

	.icons{
		width:auto;
		margin-left:0;
		padding-left:0;
	}

	input{
		width:96%;
	}

	textarea{
		width:96%;
	}

	#profile-pic{
		zoom:60%;
		padding-bottom:20px;
	}

	h4{
		width:285px;
	}

	img.full-size-image{
		width:315px;
	}

	.right-images{
		float:right;
		width:315px;
	}
}


@media screen and (max-width:640px){
	header{
		position:static;
		width:auto;
	}

	.header-wrapper{
		width:100%;
		position:static;
	}

	.your-name{
		width:100%;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}

	.about{
		width:33%;
		margin:23px 0 23px 0;
		padding:0;
		text-align:center;
	}

	.portfolio{
		width:33%;
		margin:23px 0 23px 0;
		padding:0;
		text-align:center;
	}

	.contact{
		width:33%;
		margin:23px 0 23px 0;
		padding:0;
		text-align:center;
	}

	.main-section{
		padding-top:20px;
	}

	.main-wrapper{
		width:94%;
	}

	.large-container{
		width:auto;
		float:none;
		overflow:hidden;
	}

	#profile-pic{
		width:100%;
		zoom:50%;
		padding-bottom:20px;
	}

	.sidebar{
		float:left;
		width:99%;
		margin-top:40px;
		padding:0;
	}

	.connect-with-me{
		width:auto;
		margin-left:5%;
		margin-right:5%;
	}

	h3{
		width:auto;
	}

	#github-icon{
		padding:0 0 0 5%;
	}

	.icons{
		width:auto;
		margin-left:0;
		padding-left:0;
	}

	.left-images, .right-images{
		padding:0;
		width:100%;
		overflow:hidden;
	}

	img.full-size-image{
		width:100%;
	}

	h4{
		width:100%;
	}

	input{
		width:96%;
	}

	textarea{
		width:96%;
	}
}